{% extends "base.html" %}

{% block title %}Movies{% endblock %}

{% block style %}
.card {
      width: 100%; /* Ensure the card takes full width */
    }

.search-title {
    max-height: 4.5em; /* Adjust based on line-height */
    line-height: 1.5em; /* Set consistent line height */
    overflow: hidden; /* Hide overflowing content */
    display: -webkit-box; /* Required for truncation */
    -webkit-line-clamp: 2; /* Limit text to 3 lines */
    -webkit-box-orient: vertical; /* Maintain vertical flow */
    width: 100%; /* Ensure text respects the parent container's width */
    box-sizing: border-box; /* Include padding in width calculations */
  }
{% endblock %}

{% block content %}
<h3 class="d-flex justify-content-center mb-3">Add a new movie</h3>
<form method="post" class="d-flex justify-content-center ">
  <div class="input-group mb-3" style="max-width: 500px; width: 100%;">
    <input required type="text" class="form-control" placeholder="Title" value="{{ searched_text}}"
           name="search" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
  </div>
</form>
{% if search %}
  {% if results %}
    <!-- First 3 Results as Small Horizontal Cards -->
    <div class="row g-3 mt-1 mb-3 row-cols-2 row-cols-lg-4 justify-content-center">
      {% for movie in results[:4] %}
      <div class="col col-md-5">
        <div class="card flex-row">
          <img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}"
               class="card-img-left"
               alt="Poster for {{ movie.title }}"
               style="width: 100px; height: 150px; object-fit: cover;"
               onerror="this.onerror=null; this.src='{{ url_for('static', filename='placeholder/100x150.png') }}'">
          <div class="card-body">
            <h6 class="card-title mb-1 search-title" data-bs-toggle="tooltip" data-bs-title="{{ movie.title }}">{{ movie.title }}</h6>
            <p class="card-text text-muted mb-2" style="font-size: 0.9rem;">{{ movie.release_date[:4] }}</p>
            <form method="post">
              <input type="hidden" name="id" value="{{ movie.id }}">
              <button type="submit" class="btn btn-sm btn-primary">Add</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="collapse" id="moreResults">
      <div class="row g-3 mb-3 row-cols-2 row-cols-lg-4 justify-content-center">
        {% for movie in results[4:] %}
        <div class="col col-md-5 d-flex" style="max-height: 150px;">
          <div class="card flex-row">
            <img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}"
                 class="card-img-left"
                 alt="Poster for {{ movie.title }}"
                 style="width: 100px; height: 150px; object-fit: cover;"
                 onerror="this.onerror=null; this.src='{{ url_for('static', filename='placeholder/100x150.png') }}'">
            <div class="card-body">
              <h6 class="card-title mb-1 search-title" data-bs-toggle="tooltip" data-bs-title="{{ movie.title }}">{{ movie.title }}</h6>
              <p class="card-text text-muted mb-2" style="font-size: 0.9rem;">{{ movie.release_date[:4] }}</p>
              <form method="post">
                <input type="hidden" name="id" value="{{ movie.id }}">
                <button type="submit" class="btn btn-sm btn-primary">Add</button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Show More Button -->
    <div class="d-flex justify-content-center mt-3 mb-3">
      <button id="toggleButton"  class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#moreResults" aria-expanded="false" aria-controls="moreResults">
        Show More
      </button>
    </div>
  {% else %}
    <div class="d-flex justify-content-center mb-3">
      <div class="alert alert-light text-center" role="alert"  style="max-width: 500px; width: 100%; background-color: #c4e27c;">
        No results found.
      </div>
    </div>
  {% endif %}
{% endif %}

  {% if watched_movies %}
  <h3 class="d-flex justify-content-center mb-3">Your watched movies</h3>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for movie in watched_movies %}
    <div class="col d-flex">
      <div class="card">
        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
             class="card-img-top" alt="Poster for {{ movie.get('title') }}"
             onerror="this.onerror=null; this.src='{{ url_for('static', filename='placeholder/433x650.png') }}'">
        <div class="card-body">
          <h5 class="card-title">{{ movie.get('title') }}</h5>
          <p class="card-text text-muted">
            {{ movie.get('release_date').year }} <br>
            {{ movie.get('directors') }}
          </p>
        </div>
        <div class="card-footer text-end">
          <form action="{{ url_for('remove_movie') }}" method="post">
          <input type="hidden" name="movie_id" value="{{ movie.get('movie_id') }}">
          <input type="hidden" name="user_id" value="{{ session['id'] }}">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#{{ movie.get('movie_id') }}">
              Info
            </button>
            <input class="btn btn-outline-danger" type="submit" value="Delete">
          </div>
        </form>
        </div>
      </div>
    </div>

    <div class="modal modal-xl fade modal-dialog-scrollable" id="{{ movie.get('movie_id') }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content d-flex flex-row">
        <!-- Left Side: Poster -->
        <div class="col-5 p-0">
          <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt="Poster for {{ movie.get('title') }}"
               class="w-100"
               style="height: 100%; width: 100%; object-fit: cover;"
               onerror="this.onerror=null; this.src='{{ url_for('static', filename='placeholder/433x650.png') }}'">
        </div>
        <!-- Right Side: Details -->
        <div class="col-7 p-4">
          <div class="modal-header">
            <h5 class="modal-title" id="movieModalLabel">{{ movie.get('title') }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex flex-column justify-content-between">
            <!-- Movie Details -->
            <p><strong>Overview:</strong> {{ movie.get('overview') }}</p>
            <p><strong>Directors:</strong> {{ movie.get('directors') }}</p>
            <p><strong>Release Date:</strong> {{ movie.get('release_date') }}</p>
            <p><strong>Genres:</strong> {{ movie.get('genres') }}</p>
            <!-- Buttons at the Bottom -->
            <div class="modal-footer">
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
                <a class="btn btn-outline-dark" href="https://www.themoviedb.org/movie/{{ movie.get('movie_id') }}" target="_blank">
                  Go to TMDB
                </a>
                <form action="{{ url_for('remove_movie') }}" method="post">
                  <input type="hidden" name="movie_id" value="{{ movie.get('movie_id') }}">
                  <input type="hidden" name="user_id" value="{{ session['id'] }}">
                  <input class="btn btn-outline-danger" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h4>Your watched movies will be here</h4>
  {% endif %}

<!--Enable bootstrap tooltip-->
<script>
  // Initialize Bootstrap tooltips
  document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const button = document.getElementById('toggleButton');
    const collapseElement = document.getElementById('moreResults');

    collapseElement.addEventListener('shown.bs.collapse', function () {
      button.textContent = 'Show Less';
    });

    collapseElement.addEventListener('hidden.bs.collapse', function () {
      button.textContent = 'Show More';
    });
  });
</script>
{% endblock %}